
            body{
                background : rgb(126, 75, 75);
                  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                 color: rgb(5, 5, 5);
                 margin:0;
                 padding: 0;
            }
            h1{
                background: rgb(88, 31, 31);
                font-size: 50px;
                font-style: initial;
                color: rgb(66, 230, 153);
            
            }
            h3{
               color: rgb(24, 14, 14);
               font-style: initial;
            }
            
            button{
                background:burlywood;
                opacity: 1;

            }
        header {
            background: black;
            background-image:url("italy-food.jpg");
            background-position: bottom;
            background-size:100%;
            height:400px;
            padding:20px;
            margin-top:20px;
            text-align: left;
            text-transform: capitalize
            
        }
      
        

       
        header a{
            color:black;
            text-decoration:none;
            text-transform:uppercase;
            margin-top:40px;
            
            

        }

        header .logo a{
            background-image:url("Fed.png");
            background-size:250px;
            background-repeat:no-repeat;
            display:inline-block;
            height:170px;
            text-indent:-999999px;
            width:250px;
            
            position:relative;
            top:-40px;


        }
        .features {
            background: white;
            color: rgb(12, 5, 5);
            padding:20px;
            display:flex;
            flex-direction:row;
            flex-wrap: wrap;
            
        }  
       
        .features figure{
           
            margin:auto;
            width:200px;
            text-align: center;
            text-transform: uppercase;
           
            
        }
        .features figure img {
           border: 1px solid white;
            width:250px;
            border-radius: 50%;
            box-shadow: rgb(77, 21, 21) 0 0  10px 4px;
        }
        footer{
            background: rgb(10, 10, 10);
            color: rgb(177, 158, 158);
            margin: 20px,40px,20px,40px;
            text-align: center;
            font-size:25px;
        }
        ul{
            margin: 0;;
            padding:0;
            list-style-type:none;
             
        }
        li{
            display:inline-block;
            margin:5px 40px 5px 5px;
        }
        li:hover{
            background: white;
        }
        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }


        .contact
        {
            background: grey;
            color: rgb(12, 5, 5);
            font-size: 30px;
            padding:20px;
            display:flex;
            flex-direction:row; 
            width: 100%;
            height:50px;
        }
        .contact div {
            margin:auto;
            text-align: center;
          
        }
        .loc{
            background: rgb(226, 126, 126);
            color: rgb(12, 5, 5);
            font-size: 30px;
            padding:20px;
            display:flex;
            flex-direction:row; 
            width: 100%;
            height:50px;
        }
        .loc div{
            margin:auto;
            text-align: center;

        }
        header .mobile{
            display:none;     
            }

            
            header .tdesktop{
                font-size: 40px; 
    
            }
            header .tmobile{
               font-size: 0;
    
            }
            .location {
                background: white;
                color: rgb(12, 5, 5);
                padding:20px;
                display:flex;
                flex-direction:row;
                flex-wrap: wrap;
                
            }  
           
            .location figure{
               
                margin:auto;
                height: 400;;
                width:400px;
                text-align: center;
                text-transform: uppercase;
               
                
            }
            .location figure img {
               border: 1px solid white;
                width:250px;
               
                box-shadow: rgb(77, 21, 21) 0 0  10px 4px;
            }
        @media screen and (max-width: 835px)
        {
            header{
                height:300px;
            }
          header .mobile{
              display:inline-block;
              height:
          }
          header .desktop{
            display:none;
          }
            header .tmobile {
                font-size: 20px;  
    
            }
            header .tdesktop{
                
                display: none;
            }
        
           
        }


        .menu {
            background: rgb(233, 169, 180);
            color: black;
            display: flex;
            flex-direction: column;
            font-size: 40px;
            
        }

        .menu div {
            margin: auto;
            text-align: center;
        }
        div:hover {
            background: white;
            text-decoration: underline;
        }
       .quantity {
          background: rgb(63, 36, 36);
           color:wheat;
           width:500px;
           height:100px;
           font-size: 20px;
           text-align: center;
       }

       section {
           background: rgb(192, 93, 76);
           display:flex;
           flex-direction: row;
           margin:auto;
           
       }

        .order button {
           background: black;
           color:wheat;
           font-size:50px;
           margin: auto;
            }


            
       body {
           background: rgb(233, 229, 229);
       }


       #h8style{
           background: red;
           color:blue;
       }
   